/* media query mixin
===================== */
@mixin minMediaQuery($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}
@mixin maxMediaQuery($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}
@font-face {
    src: url(../webfonts/fa-solid-900.ttf);
    font-family: "fontawesome";
}
@font-face {
    src: url(https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap);
    font-family: "Rubik Mono One", sans-serif;
}
.lg-toolbar .lg-close::after {
    content: "\f00d" !important;
}
.lg-toolbar #lg-download {
    display: none !important;
}
.lg-actions .lg-prev::after {
    content: "\f053" !important;
}
.lg-actions .lg-next::before {
    content: "\f054" !important;
}
.lg-actions .lg-prev::after,
.lg-actions .lg-next::before,
.lg-toolbar .lg-close::after {
    font-family: "fontawesome" !important;
    font-weight: 900 !important;
}
body {
    overflow-x: hidden;
    // font-family: Lato;
    height: 100vh;
    font-family: "Rubik Mono One", sans-serif;

}
button:focus {
    box-shadow: none !important;
}
.text-facebook {
    color: #4267b2;
}
.text-twitter {
    color: #1da1f2;
}
.text-instagram {
    color: transparent;
    background: rgba(255, 219, 128, 1);
    background-image: linear-gradient(
        45deg,
        rgba(255, 219, 128, 1) 0%,
        rgba(252, 176, 69, 1) 10%,
        rgba(247, 118, 54, 1) 18%,
        rgba(245, 99, 66, 1) 28%,
        rgba(253, 28, 28, 1) 39%,
        rgba(226, 50, 108, 1) 49%,
        rgba(193, 68, 130, 1) 62%,
        rgba(132, 59, 181, 1) 75%,
        rgba(88, 81, 219, 1) 88%,
        rgba(65, 79, 230, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
}
.btn-outline-danger {
    border-color: rgba(190, 19, 19, 0.9) !important;
    transition: background-color 0.4s;
    &:hover {
        background-color: rgba(190, 19, 19, 0.9) !important;
    }
}
.form-outline {
    transition: box-shadow 0.3s;
    &:focus {
        box-shadow: 0 0 4px 1px #f79103;
    }
}

section.chefs,
section.reservation,
section.testimonials,
section.popular-dishes,
section.menus {
    header p {
        position: relative;
        &::after {
            width: 90px;
            height: 10px;
            position: absolute;
            content: "";
            bottom: 9px;
            z-index: -1;
            left: 0;
            background-color: #ff6426;
        }
    }
}
/*==================================================================================*/
/*==================================================================================*/
/*==================================================================================*/
/*==================================================================================*/
header.main-header {
    min-height: 100vh;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    // background-image: linear-gradient(rgba(255,252,252,0), rgba(255,252,252,0)), url(../images/header_bg.png);
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    &.menus-header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url(../images/backgrounds/menus-bg.jpg);
    }
    &.chefs-header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url(../images/backgrounds/menus-bg.jpg);
    }
    &.about-header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url(../images/backgrounds/about-bg.jpg);
    }
    &.news-and-events-header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url(../images/backgrounds/about-bg.jpg);
    }
    &.gallery-header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url(../images/backgrounds/gallery-bg.jpg);
    }
    &.contact-header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url(../images/backgrounds/contact-bg.jpg);
    }
    &.about-header,
    &.chefs-header,
    &.news-and-events-header,
    &.menus-header,
    &.gallery-header,
    &.contact-header {
        min-height: 50vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        & .about-heading,
        & .chefs-heading,
        & .news-and-events-heading,
        & .menus-heading,
        & .gallery-heading,
        & .chefs-heading {
            height: 50vh;
            color: rgb(255, 252, 252);
            h2 {
                text-transform: uppercase;
                letter-spacing: 0.125rem;
            }
        }
    }
    nav {
        transition: background-color 0.5s;
        .navbar-nav .nav-link {
            color: rgba(255, 255, 255, 0.8);
            transition: color 0.5s;
        }
        .navbar-nav .active > .nav-link {
            color: #be1313;
        }
        li {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.8rem;
        }
        button.navbar-toggler {
            span {
                color: #f7f3f3;
                transition: color 0.5s;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .animate-nav {
        background-color: rgba(255, 252, 252, 0.96);
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
        .navbar-nav .nav-link {
            color: rgba(0, 0, 0, 0.5);
        }
        button.navbar-toggler span {
            color: rgb(55, 55, 56) !important;
        }
    }
    main {
        margin-top: 45vh;
        // margin-bottom: auto;
        color: #6b5a5a;
        > div {
            background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            padding: 20px;
            margin-bottom: 1rem;
            color: #f7f3f3;
            h2 {
                color: #be1313;
                text-transform: uppercase;
                font-size: 1.8rem;
                letter-spacing: 0.0126rem;
                @include minMediaQuery(576px) {
                    letter-spacing: 0.126rem;
                    font-size: 2.1rem;
                }
            }
        }
        > button {
            a {
                color: #fffcfc;
                text-decoration: none;
                letter-spacing: 0.2rem;
            }
        }
    }
    .red {
        background-color: rgb(190, 19, 19);
        padding: 1rem 1.9rem;
        color: #fff;
        border-radius: 75% 25% 25% 75% / 50% 50% 50% 50%;
        &:focus {
            box-shadow: none !important;
        }
    }
    .above-the-fold button {
    }
}

section.events {
    #events {
        #event-one {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(../images/events/event_1.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        #event-two {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(../images/events/event_2.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        #event-three {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(../images/events/event_3.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        .card {
            border: none;
            .card-header {
                background-color: #fffcfc;
                border: none;
                // cursor: pointer;
                h3 {
                    font-size: 1.1rem;
                    cursor: pointer;
                    // width: 100%;
                }
            }
            .card-body {
                color: #fffcfc;
            }
        }
    }
}

main.below-the-fold {
    &.contact {
        padding-top: 5rem;
        padding-bottom: 8rem;
        address {
            margin-top: 1rem;
            h3 {
                color: #f79103;
                font-size: 0.8rem;
                margin-top: 0.5rem;
            }
            p {
                font-size: 0.8rem;
            }
        }
        button {
            background: #be1313;
            border: none;
            border-radius: 0;
            color: #fffcfc;
        }
    }
}

section.news {
    margin-top: 8rem;
    header {
        margin-bottom: 5rem;
    }
    .news-item {
        &:nth-of-type(even) > div:nth-of-type(odd) {
            // order: 1;
            // // background: #000;
            @include minMediaQuery(768px) {
                & {
                    order: 1;
                }
            }
        }
        .news-text {
            time {
                color: #be1313;
            }
        }
    }
}

section.popular-dishes {
    position: relative;
    margin-top: 10rem;
    background-image: url(../images/about_overlay.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    header {
        margin-bottom: 3rem;
        h2 {
            font-size: 1rem;
        }
        p {
            font-size: 2rem;
        }
    }
    article {
        .card {
            border: none;
            background: transparent;

            &:hover .card-body {
                // border: none;
                -webkit-box-shadow: 0px 1px 7px -5px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 1px 7px -5px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 1px 7px -5px rgba(0, 0, 0, 0.75);
            }
            .card-body {
                background: #fff;
                border: 1px solid #e7e7e7;
                border-top: none;
                border-bottom-right-radius: 40% 60%;
                border-bottom-left-radius: 10% 20%;
                transition: all 0.2s ease-in;
            }
        }
    }
}

section.history {
    margin-top: 10rem;

    header {
        // margin-top: 8rem;
        h2 {
            font-size: 1rem;
        }
        p:first-of-type {
            font-size: 2rem;
        }
        p:last-of-type {
            font-size: 1.5rem;
        }
    }
}

section.intro-video {
    margin-top: 10rem;
    min-height: 50vh;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/intro_video_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    div a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        background: #000;
        color: #fff;
        text-decoration: none;
    }
    .modal-dialog {
        max-width: 640px;
        .modal-content {
            background: inherit;
            border: none;
            height: 400px;
            @include maxMediaQuery(640px) {
                & {
                    width: 100%;
                    height: 320px;
                }
            }
        }
        .modal-header {
            border: none;
            .close {
                color: #fff;
            }
        }
        .modal-body {
            max-width: 640px;
            max-height: 360px;
        }
    }
}

section.menus {
    margin-top: 5rem;
    header {
        margin-bottom: 3rem;
        h2 {
            font-size: 1rem;
        }
        p {
            font-size: 2rem;
        }
    }
    ul {
        border: none;
        // @include minMediaQuery(576px) {
        //     border-bottom: 1px solid rgb(190, 19, 19);
        // }
        a {
            color: rgba(0, 0, 0, 0.6);
            border-bottom: 1px solid rgb(190, 19, 19);

        }
        a.nav-link.active {
            background-color: rgb(190, 19, 19);
        }
    }
    main article {
        // background-color: #f6f5f1;
        // padding: 0;
        @include minMediaQuery(576px) {
            & .media-body {
                border-left: 1px solid #be1313;
            }
        }
        @include maxMediaQuery(575px) {
            & {
                border-left: 1px solid #be1313;
            }
        }
        // border-left: 1px solid #be1313;
    }
}

section.chefs {
    margin-top: 10rem;
    padding-bottom: 5rem;
    header {
        margin-bottom: 3rem;
        h2 {
            font-size: 1rem;
        }
        p {
            font-size: 2rem;
        }
    }
    article {
        .card {
            border: none;
            &:hover .card-body {
                // border: none;
                -webkit-box-shadow: 0px 1px 7px -5px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 1px 7px -5px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 1px 7px -5px rgba(0, 0, 0, 0.75);
            }
            .card-body {
                border: 1px solid #e7e7e7;
                border-top: none;
                border-bottom-right-radius: 40% 60%;
                border-bottom-left-radius: 10% 20%;
                transition: all 0.2s ease-in;
                // position: relative;
                // z-index: 1;
            }
        }
    }
}

section.reservation {
    margin-top: 10rem;
    background-image: url(../images/booking_tabel_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding-top: 5rem;
    padding-bottom: 5rem;
    header {
        margin-bottom: 3rem;
        h2 {
            font-size: 1rem;
        }
        p {
            font-size: 2rem;
        }
    }
    main form .form-group {
        .show-label {
            color: #e7e7e7;
        }
        label {
            color: transparent;
            transition: color 0.3s ease-in;
        }
        .form-control {
            border: 3px solid transparent;
            border-radius: 0;
            border-bottom: 3px solid #ff3c00;
            background-clip: unset;
            outline: none;
            transition: border 0.3s ease-in;
            &:focus {
                box-shadow: none;
                border: 3px solid #ff3c00;
            }
        }
    }
}

section.testimonials {
    margin-top: 10rem;
    // position: relative;
    header {
        margin-bottom: 3rem;
        h2 {
            font-size: 1rem;
        }
        p {
            font-size: 2rem;
        }
    }
    ol.carousel-indicators {
        position: absolute;
        bottom: -30px;
        li {
            width: 17px;
            height: 17px;
            border-radius: 50%;
        }
    }
    article {
        div {
            background-image: url(../images/Quote.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}

section.blog-posts {
    margin-top: 10rem;
    padding-bottom: 5rem;
    header {
        margin-bottom: 3rem;
        h2 {
            font-size: 1rem;
        }
        p {
            font-size: 2rem;
        }
    }
    article {
        .card {
            border: none;
            &:hover .card-body {
                // border: none;
                -webkit-box-shadow: 0px 1px 7px -5px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 1px 7px -5px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 1px 7px -5px rgba(0, 0, 0, 0.75);
            }
            .card-body {
                border: 1px solid #e7e7e7;
                border-top: none;
                border-bottom-right-radius: 40% 60%;
                border-bottom-left-radius: 10% 20%;
                transition: all 0.2s ease-in;
                // position: relative;
                // z-index: 1;
            }
        }
    }
}

footer.footer {
    // margin-top: 10rem;
    padding: 8rem 3rem;
    background-color: #151515;
    color: #777777;
    section {
        h3 {
            color: #f5a637;
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
    }
    button {
        background: #be1313;
        color: #fffcfc;
    }
}
